body {
  background-color: #1e2526;
  background-size: cover;
  background-position: center;
  margin-bottom: 0px;
  padding: 0px;
  background-attachment: fixed;
  font-family: sans-serif;
  height: 100vh;
}
.halaman {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(2 255 91);
  padding: 20px;
  width: 300px;
  height: 200px;
  box-shadow: 0 0 10px 5px #84f3048f;
  color: black;
  box-sizing: border-box;
}

.tampil {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(43, 52, 185, 0.5);
  padding: 20px;
  width: 600px;
  height: 300px;
  box-shadow: 0 0 10px 5px #003affbf;
  color: black;
  box-sizing: border-box;
}

h1 {
  margin-top: 0px;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
  color: #fff;
}

table, th, td {
  border:1px solid black;
}
.INFO{
    left: 70%;
    top: 48%;
    width: 300px;
    height: 300px;
    position: fixed;
    background-color: cornflowerblue;
    box-shadow: 0 0 10px 5px #894e4e;
    box-sizing: border-box;
}
